<mat-grid-list cols="1" rowHeight="5:1">

<mat-grid-list cols="1" rowHeight="360px">
    <mat-grid-tile>
      <img [src]="apiServis.siteUrl + '/Dosyalar/iletisim.png'"style="width: 40%"/>

    </mat-grid-tile>


  <mat-grid-tile>
    <mat-card style="width: 80%;" class="example-card">







      <mat-card-content>
        <h2>Adres</h2>
        <p>
          F.altay caddesi Yüksekalan mahallesi 517 sokak No:22
        </p>
        <h2>Telefon</h2>
        <p>
          0536 912 5328
        </p>
        <h2>Eposta</h2>
        <p>
          mcanprojeler@gmail.com
        </p>
        <h2>Sipariş</h2>
        <p>
          Siparişleriniz için telefon numaramız ve mail adresimizden bize ulaşabilirsiniz.
        </p>

      </mat-card-content>

      <mat-card-actions>

      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>



</mat-grid-list>

<mat-grid-list cols="1" rowHeight="3:1" style="margin-bottom: 30px;">
  <mat-grid-tile>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.9299266562102!2d30.70678881529258!3d36.89202457992985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38ffe40425575%3A0x9fb0e2b420c0ba66!2sFahrettin%20Altay%20Cd.%2C%20Muratpa%C5%9Fa%2FAntalya!5e0!3m2!1str!2str!4v1623887124536!5m2!1str!2str" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </mat-grid-tile>

</mat-grid-list>
