<mat-toolbar color="primary" class="mat-elevation-z6">
    <span>Fotoğraf Güncelle</span>
</mat-toolbar>

<div class="container">

    <div *ngIf="secUrun">
        <h3><b>Ürün Id : </b> {{secUrun.urunId}} <b>Ürün Adı : </b>{{secUrun.urunAdi}} </h3>
        <img [src]="apiServis.siteUrl +'Dosyalar/'+ secUrun.urunFoto" style="width: 100px;" />
    </div>

    <input type="file" hidden="true" #foto (change)="FotoSec($event)" onclick="this.value=null">
    <button mat-stroked-button color="primary" (click)="foto.click()" accept=".jpg,.png">Görsel Seçiniz</button>

    <p>&nbsp;</p>

    <img [src]="secilenfoto" style="width: 250px;" />

    <p>&nbsp;</p>

    <button mat-raised-button color="primary" (click)="dialogRef.close(urunfoto)" [disabled]="!secilenfoto">Kaydet</button>&nbsp;
    <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>

</div>