<br>
   <div class="center">
  <mat-card> <h1>Sizden gelenler</h1></mat-card>
<mat-grid-list cols="1" rowHeight="600px">
  <mat-grid-tile>
    <img [src]="apiServis.siteUrl + '/Dosyalar/a.jpg'"style="width: 40%"/>
    <img [src]="apiServis.siteUrl + '/Dosyalar/b.jpg'"style="width: 40%"/>

  </mat-grid-tile>

</mat-grid-list>

<mat-grid-list cols="1" rowHeight="600px">

    <img [src]="apiServis.siteUrl + '/Dosyalar/d.jpg'"style="width: 40%"/>

</mat-grid-list>

<mat-grid-list cols="1" rowHeight="600px">
  <img [src]="apiServis.siteUrl + '/Dosyalar/e.jpg'"style="width: 40%"/>
    <img [src]="apiServis.siteUrl + '/Dosyalar/f.jpg'"style="width: 40%"/>

</mat-grid-list>




<head>
  <style>
      .center {
          text-align: center;
      }
  </style>
  </head>
  <body>
