  <mat-grid-list cols="1" rowHeight="380px">
      <mat-grid-tile>
        <img [src]="apiServis.siteUrl + '/Dosyalar/hakkimizda.jpg'"style="width: 81.6%"/>

      </mat-grid-tile>


    <mat-grid-tile>
      <mat-card style="width: 80%;" class="example-card">







        <mat-card-content>
          <h2>
                Evcil dostlarınızın tüm ihtiyaçlarını karşılamak bizim en keyifli görevimiz.

            İşte bu yüzden 2014'ün Temmuz ayında eğlenceli ve keyifli bu yolculuğa çıktık.

            petlebi.com için geliştirdiğimiz her servis, her yeni özellik bizi mutlu ediyor. Çünkü biliyoruz ki, yaptıklarımız doğrudan veya dolaylı olarak sevimli, güzel, neşeli dostlarımıza faydalı olacak.

            Üyelerimizin istek, görüş ve önerileriyle petlebi.com'u geliştiriyor, üyelerimizin sesine gerçek anlamda kulak veriyoruz.

            Hayvanları çok seviyoruz ve güzel şeyler yapmak istiyoruz.

            Hayata geçirdiğimiz, üzerinde çalıştığımız ve ileride yapmak üzere planladığımız her servisimizde 5 temel ilkemiz bize yol gösterir:

            Sahipsiz hayvanları sıcak, kalıcı yuvalarına kavuşturmak için hizmet vermek.
            Evcil hayvan sahipliğini arttırmak; onların bir neşe kaynağı, mutluluk olduğunu anlatmak için kampanyalar düzenlemek.
            Evcil hayvanların yaşam kalitesini arttırmak için evcil hayvan sahiplerini bilgilendirmek, soru ve sorunlarına çare olmak için hayvanseverlerin birbirleriyle iletişimini sağlamak, bilgi ve tecrübelerin aktarılmasında iletişim kanalı olmak.
            Veteriner hekimler, petler için hizmet veren işletmeler ve uzmanlar ile evcil hayvan sahiplerini bir araya getirmek.
            Hayvanseverlerin tüm ihtiyaç ve talepleri için servisler geliştirerek, keyifli bir online alışveriş deneyimi yaşatmak ve evcil hayvan bakımını kolaylaştırmak.
            Sevgilerimizle,
            Petcan Ekibi</h2>

        </mat-card-content>

        <mat-card-actions>

        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>



  </mat-grid-list>
